body {
    background-color: black;
    color: white;

}
.otp-box-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.otp-box-list {
    display: flex;
}